*
!.gitignore
!.git
!hypr
!noctalia
!nvim/
!nvim/**
!hypr/
!hypr/**
!BetterDiscord/
!BetterDiscord/**
!fastfetch/
!fastfetch/**
!kitty/
!kitty/**
!opencode/
!opencode/**
!xdg-desktop-portal/
!xdg-desktop-portal/**
!xdg-desktop-portal-termfilechooser/
!xdg-desktop-portal-termfilechooser/**
!yazi/
!yazi/**
